body {
    background-color:burlywood;
}

div {
    background-color:blanchedalmond;
    margin-inline:40% 40%;
    margin-top:10%;
    border-width:20px;
    border-style:double;
    padding-inline: 10px;
}

h1, h2 {
    text-align:center;
}

hr {
    color:burlywood;
}

h1 {
    font-size:4em;
    font-style: italic;
}

h2 {
    font-size:2em;
}

ul, ol {
    font-size:1.5em;
    text-align:left;+
}